// -------------------------------------------------------------------------- \\
// Headlines
// -------------------------------------------------------------------------- //

.headline {

}

.headline--1 {

}


// Headline margin bottom
.headline--gap-xs {
  margin-bottom: rem-calc(5);
}

.headline--gap-s {
  margin-bottom: rem-calc(10);
}

.headline--gap-m {
  margin-bottom: rem-calc(20);
}

.headline--gap-l {
  margin-bottom: rem-calc(30);
}

.headline--gap-xl {
  margin-bottom: rem-calc(50);
}

.headline--gap-xxl {
  margin-bottom: rem-calc(80);
}


// -------------------------------------------------------------------------- \\
// Text styles
// -------------------------------------------------------------------------- //

.small {

}
